<div id="backdrop" [ngClass]="{escondido: !aberto}" (click)="clickid.emit()"></div>
<div id="container">
    <div id="dados">
        <h3>🔍 DEBUG - Dados do Pokemon:</h3>
        <pre>{{pokemon | json}}</pre>
        
        <hr>
        
        <p><strong>Nome:</strong> {{pokemon?.name}}</p>
        <p><strong>ID:</strong> {{pokemon?.id}}</p>
        <p><strong>Altura raw:</strong> '{{pokemon?.height}}'</p>
        <p><strong>Peso raw:</strong> '{{pokemon?.weight}}'</p>
        <p><strong>Tipos:</strong> {{pokemon?.types?.length}} tipos encontrados</p>
        
        <div *ngIf="pokemon?.types">
            <p *ngFor="let tipo of pokemon.types">Tipo: {{tipo.type.name}}</p>
        </div>
        
        <hr>
        
        <div class="area">
            <app-id-pokemon
                [fullData]="pokemon" 
                [seleccionado]="true">
            </app-id-pokemon>
        </div>
        
        <div class="area">
            <p><span class="etiqueta">Tipo</span><span class="tipo" *ngFor="let tipo of pokemon?.types">{{tipo.type.name}}</span></p>
            <p><span class="etiqueta">Altura</span>{{pokemon?.height}}</p>
            <p><span class="etiqueta">Peso</span>{{pokemon?.weight}}</p>
        </div>
    </div>
    
    <button (click)="clickid.emit()">
        <img src="./../../../assets/flecha2.webp" alt="" [ngClass]="{girar: aberto}">
    </button>
</div>